# Thanks to: https://gist.github.com/jdbartlett/444295

# Ignore everything in the root except the "wp-content" directory.
/*
!purecss/
www/*
!.gitignore
!www/wp-content/
*.sql


# Ignore everything in the "wp-content" directory, except the "plugins" and "themes" directories.
www/wp-content/*
!www/wp-content/plugins/
!www/wp-content/themes/

# Ignore everything in the "themes" directory, except the themes you specify
www/wp-content/themes/*
!www/wp-content/themes/purecss.io-wordpress/
!www/wp-content/themes/purecss.io-wordpress-child/

# Other
www/wp-content/upgrade
www/wp-content/uploads/*
!www/wp-content/uploads/revisr-backups/
!www/wp-content/uploads/revisr-backups/*.sql
www/sitemap.*
www/wp-config.php

# Hidden files
*.DS_Store
*Thumbs.db
*.sass-cache*
*~imageoptim*
www/.htaccess
*.htaccess
